    <aside id="sidebar">
        <div class="profile">
            <img src="/img/img.png" alt="Foto de perfil de Leandro" class="profile-pic">
            <p class="profile-name">Leandro</p>
        </div>

        <nav class="nav">
            <a href="/base" class="nav-link">Home</a>
            <a href="/cadastroPaciente" class="nav-link">Cadastro Paciente</a>
            <a href="/listagemPacientes" class="nav-link">Listagem pacientes</a>
            <a href="#" class="nav-link">Relatórios</a>
            <a href="#" class="nav-link">Consultas</a>
        </nav>
    </aside>