<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Patient Control</title>
    <link rel="stylesheet" href="/css/listagemPaciente.css">
</head>
<body>

<%- include('../partials/header') %>

<div class="layout">
    <%- include('../partials/aside') %>

    <div class="patients-list">
        <h2>Pacientes Cadastrados</h2>

        <div class="patient">
            <img src="/img/img.png" alt="Foto de Sônia" class="patient-pic">
            <div class="patient-info">
                <p><strong>Sonia Rodrigues</strong> | 58a</p>
                <p>Registrada desde 06/24 | última consulta em: 28/03/24</p>
            </div>
            <div class="patient-actions">
                <button id="btn-access" class="btn">Acessar Relatórios</button>
                <button id="btn-edit" class="btn">Editar</button>
                <button id="btn-delete" class="btn">Excluir</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/base.js"></script>
</body>
</html>