<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Patient Control</title>
    <link rel="stylesheet" href="/css/listagemPaciente.css">
</head>
<body>

<%- include('../partials/header') %>

<div class="layout">
    <%- include('../partials/aside') %>

    <div class="patients-list">
        <h2>Pacientes Cadastrados</h2>

        <div id="patient-container"></div>
    </div>
</div>

<script src="/js/listagemPaciente.js"></script>
<script src="/js/base.js"></script>
</body>
</html>