<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de Consulta</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/agendamentoConsulta.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- BASE DO SISTEMA -->

    <header class="header">
        <a href="" id="help"><span class="material-icons" >help</span></a>
        <h2 class="titulo1">Patient Control </h2>
        
    </header>
    <div class="barraLateral">
        <a href="" class="profileBackground">
            <p class="nome">    
                <img class="profilePic" alt="perfil">
                <p class="">Tamiris</p>
            </p>
        </a>
        
        <ul class="navegacao">
            
            <li> <a class="navegacao1" href=""> Cadastro Paciente </a> </li>
            <li> <a class="navegacao2" href=""> Relatórios </a> </li>
            <li> <a class="navegacao3" href=""> Consultas </a> </li>
        </ul>
     
    </div>

    <div class="principal">

        <form action="/agendarConsulta" method="POST" id="form-agendamento">
            <h1 class="titulo">Agendamento de Consulta</h1>

            <div class="main_field_login">
                <div class="field_login">
                    <label for="email" id="lb-email">Email:
                        <input type="text" id="email" name="email" required>
                    </label>
                </div>

                <div class="field_login">
                    <label for="senha" id="lb-pass">Senha:
                        <input type="password" id="senha" name="senha" required>
                    </label>
                </div>
            </div>

            <button type="submit" class="button-entrar">Entrar</button>
            <a href="#" id="forgot-password">Esqueci minha senha</a>
        </form>


    </div>

   <!-- FIM DA BASE DO SISTEMA -->

</body>
</html>