
/* BASE DO SISTEMA */

body {
    height: 100%;
}

header {
    display: inline-flex;
    position: absolute;
    width: 87%;
    height: 51px;
    left: 247px;
    top: 0px;
    filter: drop-shadow(0px 1.1px 2px rgba(0, 0, 0, 0.05));
    
    }
    
    #help {
        margin: 20px 0 0 52%;
    }
    
    .titulo1 {
        color: rgba(93, 155, 155, 0.45);
        margin-left: 46%;
        }
    
    .barraLateral {
    
    position: fixed;
    width: 247px;
    height: 2280px;
    left: 0px;
    top: 0px;
    border-radius: 0px 5px 5px 0px;
    
    background-color: rgba(93, 155, 155, 0.45);
    
    }
    
    
    /* perfil canto esquedo sup. */
    .profileBackground{
    display: flex;
    position: absolute;
    width: 211px;
    height: 52px;
    left: 14px;
    top: 21px;
    border-radius: 50px;
    
    background-color: white;
    
    }
    
    .nome {
        margin-left: 30%;
        margin-top: -2px;
        font-size: 18px;
        text-decoration: none;
        color: black;
    }
    
   
    
    .titulo{
        text-align: center;
    }
    
    .profilePic {
        /* Ellipse 1 */
    
    position: absolute;
    width: 46px;
    height: 45px;
    left: 3px;
    top: 3px;
    
    background: url(.png);
    
    border-radius: 100%;
    }
    
    
    body {
      font-family: "Mohave", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }
    
    .navegacao {
        /* cadastroPaciente */
    list-style: none;
    position: absolute;
    width: 150px;
    height: 50px;
    left: 0px;
    top: 130px;
    font-size: large;
    
    }
    
    .navegacao1 {
        text-decoration: none;
        color: black;
    }
    
    
    .navegacao1:hover {
        color: white;
    }
    
    .navegacao2 {
        text-decoration: none;
        color: black;
    }
    
    
    .navegacao2:hover {
        color: white;
    }
    
    .navegacao3 {
        text-decoration: none;
        color: black;
    }
    
    
    .navegacao3:hover {
        color: white;
    }
    
    /* FIM DA BASE DO SISTEMA */
/* box resumo */

.box-resumo {
    position: absolute;
    width: 85.5%;
    left: 262px;
    top: 70px;
    height: 300px;
    border: 0.5px outset ;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: flex;
}

#resumo-dia {
    margin-left: 20px;
    display: block;
}

.box1-resumo {
    display: flexbox;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 90px;
    padding: 55px;
    border-radius: 5px;
    height: 125px;
    margin-left: 20px;
    position: absolute;
    margin-top: 50px;
    background-color: rgba(93, 155, 155, 0.45);
}

#horario_box {
    position: relative;
    margin: -40px 0px 0px -40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.71);
    font-size: large;
}

#nome_box {
    position: relative;
    margin: 0px 0px 0px -40px;
}

#hr {

    border-bottom: 1.5px solid rgba(0, 0, 0, 0.09);
    width: 160px;
    margin-left: -35px;
}

#proced_box {
    position: relative;
    margin: 10px 0px 0px -40px;
    color: red;
}

#textValor_box {
    position: relative;
    margin: 15px 0px 0px -40px; 
} 

#valor_box {
    position: relative;
    margin: 5px 0px 0px -40px;
    font-weight: bold; 
    font-size: large;
}


.box2-resumo {
    display: flex;
    width: 90px;
    padding: 55px;
    border-radius: 5px;
    height: 125px;
    margin-left: 240px;
    position: absolute;
    margin-top: 50px;
    background-color: rgba(93, 155, 155, 0.45);
}

.box3-resumo {
    display: flex;
    width: 90px;
    padding: 55px;
    border-radius: 5px;
    height: 125px;
    margin-left: 460px;
    position: absolute;
    margin-top: 50px;
    background-color: rgba(93, 155, 155, 0.45);
}

/* FIM BOX RESUMO DIARIO */

/* INICIO BOODY CALENDARIO */
.principal {
    /* Body */

    position: absolute;
    width: 89%;
    height: 1880px;
    left: 262px;
    top: 33%;
    background-color: rgba(93, 155, 155, 0.45);
    border-radius: 5px;
}


/* rodape */
.rodape {
    width: 99%;
    height: 100px;
    background-color: #eee;
    text-align: center;
    filter: drop-shadow(0px 1.1px 2px rgba(0, 0, 0, 0.05));
    display: flex;
    position: absolute;
    margin-top: 91.5%;
}
