* {
    margin: 0;
    padding: 0;
}

/* BASE DO SISTEMA */

header {
    width: 80%;
    margin: 0 0 2% 15%;
    filter: drop-shadow(0px 1.1px 2px rgba(0, 0, 0, 0.05));

}

body {
    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    /* igual a altura do rodapé */
}

#help {
    position: absolute;
    margin: 2vh 0 50% 103%;
    color: black;
}

#help:hover {
    color: rgba(93, 155, 155, 0.65);
}

.titulo1 {
    color: rgba(93, 155, 155, 0.45);
    margin:1% 0 0 48.5%;
    text-wrap: nowrap;
}

.barraLateral {

    position: absolute;
    box-sizing: border-box;
    padding: 9.5%;
    height: 200%;
    left: 0px;
    top: 0px;
    border-radius: 0px 5px 5px 0px;

    background-color: rgba(93, 155, 155, 0.45);

}


/* perfil canto esquedo sup. */
.profileBackground {
    display: flex;
    position: absolute;
    width: 90%;
    height: 5%;
    left: 14px;
    top: 21px;
    border-radius: 50px;

    background-color: white;

    font-size: 20px;
    text-decoration: none;
    color: black;

    align-items: center;
}

.nome {
    margin-left: 30%;
    margin-top: 13px;
}

.profilePic {
    /* Ellipse 1 */

    position: absolute;
    width: 20%;
    height: 85%;
    left: 2.5%;
    top: 7%;

    background: url(.png);

    border-radius: 100%;
}


.navegacao {
    /* cadastroPaciente */
    list-style: none;
    position: absolute;
    width: 150px;
    height: 50px;
    left: 10px;
    top: 130px;
    font-size: large;

}

.navegacao1 {
    text-decoration: none;
    color: black;
}


.navegacao1:hover {
    color: white;
}

.navegacao2 {
    text-decoration: none;
    color: black;
}


.navegacao2:hover {
    color: white;
}

.navegacao3 {
    text-decoration: none;
    color: black;
}


.navegacao3:hover {
    color: white;
}

/* body principal */

.principal {
    /* Body */
    width: 79.5%;
    height: 200%;
    position: absolute;
    margin: 3% 0 0 20%;
    background-color: rgba(93, 155, 155, 0.45);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}


.titulo {
    color: black;
    margin: 2% 0 0 39%;
}

/* CADASTRO DO PACIENTE --- FORM */

.container-cadastro {
    margin: 2% 0 0 10%;
}



/* FIM DO CADASTRO DO PACIENTE ---- FORM END */

.form-cadastro{
    font-size: larger;
    display: inline-flexbox;
    flex-direction: column;
}

hr{
    width: 90%;
    margin: 16% 0 0 5%;
    border: 1px solid rgba(0, 0, 0, 0.55);
    filter: drop-shadow(0px 1.1px 2px rgba(0, 0, 0, 0.8));
}

#input-nome {
    border-radius: 10px;
    padding: 8px;
    width: 88%;
    margin: 4% 0 0 5px;
    font-size: large;
}

#img-perfil {
    position: absolute;
    border-radius: 100%;
    margin: 9% 0 0 5%;
}

#img-img {
    width: 17%;
}

#input-inf {
    border-radius: 10px;
    margin: 2% 0 0 0px;
    font-size: large;
    width: 43%;
    height: 35px;
}   
.linha-insert {
    display: flex;
    margin: 1% 0 0 0;
    justify-content: space-between;
}

#diag {
    font-size: large;
    margin: 0% 0 0 1.5%;
    border-radius: 10px;
    width: 90%;
    border: 1px solid black;
}

#diag2 {
    font-size: large;
    margin: 0% 0 0 0.5%;
    border-radius: 10px;
    border: 1px solid black;
}

#text-one {
    display: flex;
    align-items: flex-start; 
}

.text-area-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;    
}

/* botoes de salvar / cancelar / anexar */
.btn-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;        
}

.btn-trio {
    display: flex;
    flex-direction: column;
    width: 32%;
    margin: 0 0 0 1%;
    justify-content: space-around;
}

.bnt-anex{
    background-color: white;
    color: black;
    border: 0px;
    border-radius:10px;
    font-size: larger;
    font-weight: bold;
    margin: 0 0 0 2%;
    height: 7vh;
    width: 100%;
}

.bnt-anex:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.5px solid black;
    filter: drop-shadow(0px 1.1px 2px rgba(0, 0, 0, 0.8));
}


.btn-cancel {
    background-color:rgba(255, 5, 5, 0.70);
    color: black;
    border: 0px;
    border-radius:10px;
    font-size: larger;
    font-weight: bold;
    margin: 2% 0 0 2%;
    height: 7vh;
    width: 100%;
}

.btn-cancel:hover{
    background-color:rgba(255, 5, 5, 0.85);
    border: 0.5px solid black;
    filter: drop-shadow(0px 1.1px 2px rgba(0, 0, 0, 0.8));
}

.btn-save {
    background-color:rgba(97, 221, 109, 0.7);
    color: black;
    border: 0px;
    border-radius:10px;
    font-size: larger;
    font-weight: bold;
    margin: 2% 0 0 4%;
    height: 7vh;
    width: 100%; 
}

.btn-save:hover{
    background-color:rgba(97, 221, 109, 0.85);
    border: 0.5px solid black;
    filter: drop-shadow(0px 1.1px 2px rgba(0, 0, 0, 0.8));
}

.btn-alinha {
    display: flex;
    flex-direction: row;
    width: 100%;
}
/* rodape */



/* FIM DA BASE DO SISTEMA */