@import url('https://fonts.googleapis.com/css?family=Montserrat');

.titulo-recuperar{
    color: rgba(93, 155, 155);
}

#titulo-recuperar {
    margin-bottom: 2rem;
    color: rgba(93, 155, 155);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8vh auto;
    padding: 1.5rem;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    width: 80vw;
    max-width: 500px;
    height: auto;
}


#form-recuperar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field_recuperar {
    width: 100%;
    margin-bottom: 1.5rem;
}

label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

#e-mail{
    width: 50vh;
    padding: 0.8rem;
    margin-top: 0.2rem;
    border: 1px solid rgba(93, 155, 155, 0.75);
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

#e-mail:focus {
    border-color: rgb(93, 155, 155);
}

.btn-enviar {
    width: 10rem;
    margin: 1rem 0 0 0;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(93, 155, 155);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: rgb(46, 95, 95);
}

@media (max-width: 480px) {
    .cabecalho h1 {
        font-size: 1.5rem;
    }

    .container {
        padding: 1.5rem;
        margin: 5vh auto;
    }

    #titulo-recuperar {
        font-size: 1.5rem;
    }

    #e-mail{
        padding: 0.7rem;
        font-size: 0.9rem;
    }

    .btn-enviar {
        padding: 0.7rem;
        font-size: 1rem;
    }
}
