<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Paciente - Patient Control</title>
    <link rel="stylesheet" href="/css/cadastroPaciente.css">
    <script src="/js/cadastroPaciente.js" defer></script>
</head>
<body>
<header id="header">
    <h1>Patient Control</h1>
</header>

<div class="layout">
    <aside id="sidebar">
        <div class="profile">
            <img src="/img/img.png" alt="Foto de perfil de Leandro" class="profile-pic">
            <p class="profile-name">Leandro</p>
        </div>

        <nav class="nav">
            <a href="/base" class="nav-link">Home</a>
            <a href="#" class="nav-link">Relatórios</a>
            <a href="#" class="nav-link">Consultas</a>
        </nav>
    </aside>

    <div class="principal">
        <div class="container-cadastro">
            <form action="" class="form-cadastro">
                <div class="input-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="input-nome" name="nome" required>
                </div>

                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="input-email" name="email" required>
                </div>

                <div class="linha-insert">
                    <div class="input-group">
                        <label for="dt-nasc">Data de Nascimento:</label>
                        <input type="date" id="input-dt-nasc" name="data_nascimento" required>
                    </div>

                    <div class="input-group">
                        <label for="cpf">CPF:</label>
                        <input type="text" id="input-cpf" name="cpf" required placeholder="000.000.000-00" maxlength="14">
                    </div>

                    <div class="input-group">
                        <label for="telefone">Telefone:</label>
                        <input type="tel" id="input-telefone" name="telefone" required placeholder="(00) 00000-0000" maxlength="15">
                    </div>
                </div>

                <div class="text-area-container">
                    <div class="input-group">
                        <label for="hpp">HPP (Histórico Patológico Pregresso):</label>
                        <textarea name="hpp" id="hpp" rows="4" style="width: 97.6%;"></textarea>
                    </div>

                    <div class="input-group">
                        <label for="hma">HMA (História da Moléstia Atual):</label>
                        <textarea name="hma" id="hma" rows="4" style="width: 97.6%;"></textarea>
                    </div>

                    <div class="input-group">
                        <label for="diag-clinic">Diagnóstico Clínico:</label>
                        <textarea name="diag-clinic" id="diag-clinic" rows="4" style="width: 97.6%;"></textarea>
                    </div>

                    <div class="input-group">
                        <label for="diag-fisio">Diagnóstico Fisioterapêutico:</label>
                        <textarea name="diag-fisio" id="diag-fisio" rows="4" style="width: 97.6%;"></textarea>
                    </div>

                    <div class="input-group">
                        <label for="obs">Observações:</label>
                        <textarea name="obs" id="obs" rows="4" style="width: 97.6%;"></textarea>
                    </div>

                    <div class="input-group">
                        <label for="medicines">Medicamentos:</label>
                        <textarea name="medicines" id="medicines" rows="4" style="width: 97.6%;"></textarea>
                    </div>

                        <div class="btn-group">
                            <button type="reset" class="btn-cancel">Cancelar</button>
                            <button type="submit" class="btn-save">Salvar</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
